    {{> navbar }}

<div class="container"> 
     <div class="text-center m-5">
            <hr>
            <h2>
                Profile Information
            </h2>
     </div>
     
     <table class="table">
        <thead>
            <th>CodProfile</th>
            <th>VelMperMin</th>
            <th>DynasMat</th>
            <th>DryBetweenCol</th>
            <th>InkSupplier</th>
            <th>AniloxSupplier</th>
            <th>TapeSupplier</th>
        </thead>

        <tbody>
            {{#each results}}
            <tr>
                <td>{{ CodProfile }}</td>
                <td>{{ VelMperMin }}</td>
                <td>{{ DynasMat }}</td>
                <td>{{ DryBetweenCol }}</td>
                <td>{{ InkSupplier }}</td>
                <td>{{ AniloxSupplier }}</td>
                <td>{{ TapeSupplier }}</td>
            </tr>
            {{/each}}
        </tbody>
     </table>

</div>

   {{> footer }}